<!DOCTYPE html>
<html>
  <head>
    <title>Node.js CRUD</title>
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
    crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
  <body class="bg-info">
    <div class="container">
      <div class="row">
        <div class="col-md-6 offset-md-3" style="background-color: #fff;margin-top: 25px;padding:20px;">
          <h1><%= title %></h1>
          <form action="/employers/add" method="POST" autocomplete="off">
            <input type="hidden" name="_id" value="<%= employee._id %>">
            <div class="form-group">
              <label for="fullName">Full Name</label>
              <input type="text" class="form-control" name="fullName" id="fullName" required autofocus value='<%= employee.fullName %>'>
              <div class="text-danger"><%= employee.fullNameError %></div>
            </div>
            <div class="form-group">
              <label for="email">Email</label>
              <input type="email" class="form-control" name="email" id="email" value="<%= employee.email %>">
              <div class="text-danger"><%= employee.fullNameError %></div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="mobile">Mobile</label>
                <input type="tel" class="form-control" name="mobile" id="mobile" value="<%= employee.mobile %>">
              </div>
              <div class="form-group col-md-6">
                <label for="city">City</label>
                <input type="text" class="form-control" name="city" id="city" value="<%= employee.city %>">
              </div>
            </div>
            <div class="form-group">
              <button type="submit" class="btn btn-info"><i class="fa fa-database"></i>Submit</button>
              <a href="/employers" class="btn btn-secondary"><i class="fa fa-list-alt px-2"></i>View All</a>
            </div>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
