<!DOCTYPE html>
<html>
  <head>
    <title>Node.js CRUD</title>
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
    crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
  <body class="bg-info">
    <div class="container bg-light rounded">
      <div class="row m-5 py-5">
        <div class="col mb-4 d-flex justify-content-between">
          <h3> Employee List</h3>
          <a href="/employers/add" class="btn btn-secondary"><i class="fa fa-plus px-2"></i>Create New</a>
        </div>
        
        
        <table class="table table-striped ">
           
            <tr>
                <th>Full Name</th>
                <th>Email</th>
                <th>Mobile</th>
                <th>City</th>
                <th></th>
            </tr>
            
            
                <% list.forEach(employee =>{ %>
                  <tr>
                    <td><%= employee.fullName %> </td>
                    <td><%= employee.email %> </td>
                    <td><%= employee.mobile %> </td>
                    <td><%= employee.city %> </td>
                    <td>
                        <a href="/employers/add/<%= employee.id %>"><i class="fa fa-pencil fa-lg mx-2" aria-hidden="true"></i></a>
                        <a href="/employers/delete/<%= employee.id %>" onclick="return confirm('Are you sure to delete this record ?');"><i class="fa fa-trash fa-lg" aria-hidden="true"></i></a>
                    </td>
                  </tr>  
                <% }) %>
            
        </table>
      </div>
    </div>
  </body>
</html>
